body {
  width:1080px;
  margin:10px auto;
}
ul#task-list {
  height:150px;
  margin:0;
}
ul#task-list li {
  list-style:none;
  display:block;
  margin: 10px 10px 10px 0;
}
ul#task-list li a {
  display:none;
}
ul#task-list li:hover a {
  display:inline;
}
ul#task-list li span.value, ul#task-list li input {
  width: 20px;
}
ul#task-list li input.span4[type=text] {
  display:none;
}
ul#task-list li.editing input[type=text] {
  display:inline;
}
ul#task-list li.editing span {
  display:none;
}
      /* tell the SVG path to be a thin blue line without any area fill */
  path {
    stroke: #000;
    stroke-width: 2;
    fill: none;
  }

  path.service {
    stroke: #000;
  }
  
  .axis {
    shape-rendering: crispEdges;
  }

  .x.axis line, .y.axis line {
    stroke: #000;
  }

  .x.axis .minor, .y.axis .minor{
    stroke-opacity: .5;
  }

  .x.axis path, .y.axis path {
    /* display: none; */
    stroke :#000;
    stroke-width: 1;
  }

  text.line-label {
  }
