<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>asdf</title>
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">
</head>
<body>
  <div class="containter">
    <div class="page-header">
      <h1>Time-demand analyzer</h1>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip ex ea commodo consequat. Duis aute irure dolor in
    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
    culpa qui officia deserunt mollit anim id est laborum.</p>
    <div id="app">
      <div class="row-fluid">
        <div class="span6">
          <h2>Tasks</h2>
          <p>Automatically prioritized using deadline monotonic assignment
          (DMA).</p>
          <form>
            <label>New task</label>
            <input type="text" id="new-task" />
          </form>
          <ul id="task-list">
          </ul>
        </div>
        <div class="span6">
          <h2>Time-demand curve</h2>
          <div id="graph"></div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="task-template">
    T<sub><%- index %></sub> = (
    <input type="text" value="<%- string %>" class="span4"></input>
    <span>
    p<sub><%- index %></sub>= <span class="value"><%- period %></span>,
    e<sub><%- index %></sub>=<span class="value"><%- executionTime %></span>,
    d<sub><%- index %></sub>=<span class="value"><%- deadline %></span>
    </span>
    )
  </script>

  <script src="/js/lib/jquery-1.9.1.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/js/lib/underscore.js"></script>
  <script src="/js/lib/backbone.js"></script>
  <script src="/js/lib/d3.v3.js"></script>
  <script src="/js/models/task.js"></script>
  <script src="/js/models/analysis.js"></script>
  <script src="/js/collections/tasks.js"></script>
  <script src="/js/views/tasks.js"></script>
  <script src="/js/views/analysis.js"></script>
  <script src="/js/views/app.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>
